<a href="https://colab.research.google.com/github/saurabhkrr/stock-market-prediction/blob/main/moving_average.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving NSE-Tata-Global-Beverages-Limited.csv to NSE-Tata-Global-Beverages-Limited.csv

In [ ]:
#import packages
import pandas as pd
import numpy as np
 
#to plot within notebook
import matplotlib.pyplot as plt
%matplotlib inline
 
#setting figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10
 
#for normalizing data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
 
#read the file
df = pd.read_csv('NSE-Tata-Global-Beverages-Limited.csv')
 
#print the head
df.head()

         Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  08-10-2018  208.00  222.25  ...  215.15               4642146         10062.83
1  05-10-2018  217.00  218.60  ...  209.20               3519515          7407.06
2  04-10-2018  223.50  227.80  ...  218.20               1728786          3815.79
3  03-10-2018  230.00  237.50  ...  227.60               1708590          3960.27
4  01-10-2018  234.55  234.60  ...  230.90               1534749          3486.05

[5 rows x 8 columns]

In [ ]:
#setting index as date
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

#plot
plt.figure(figsize=(16,8))
plt.plot(df['Close'], label='Close Price history')

ValueError: ignored

In [ ]:
# importing libraries
import pandas as pd
import numpy as np

# reading the data
df = pd.read_csv('NSE-Tata-Global-Beverages-Limited.csv')

# looking at the first five rows of the data
print(df.head())
print('\n Shape of the data:')
print(df.shape)

# setting the index as date
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

#creating dataframe with date and the target variable
data = df.sort_index(ascending=True, axis=0)
new_data = pd.DataFrame(index=range(0,len(df)),columns=['Date', 'Close'])

for i in range(0,len(data)):
     new_data['Date'][i] = data['Date'][i]
     new_data['Close'][i] = data['Close'][i]

# NOTE: While splitting the data into train and validation set, we cannot use random splitting since that will destroy the time component. So here we have set the last year’s data into validation and the 4 years’ data before that into train set.

# splitting into train and validation
train = new_data[:987]
valid = new_data[987:]

# shapes of training set
print('\n Shape of training set:')
print(train.shape)

# shapes of validation set
print('\n Shape of validation set:')
print(valid.shape)

# In the next step, we will create predictions for the validation set and check the RMSE using the actual values.
# making predictions
preds = []
for i in range(0,valid.shape[0]):
    a = train['Close'][len(train)-248+i:].sum() + sum(preds)
    b = a/248
    preds.append(b)

# checking the results (RMSE value)
rms=np.sqrt(np.mean(np.power((np.array(valid['Close'])-preds),2)))
print('\n RMSE value on validation set:')
print(rms)

In [ ]:
#plot
valid['Predictions'] = 0
valid['Predictions'] = preds
plt.plot(train['Close'])
plt.plot(valid[['Close', 'Predictions']])